.WorkSpace {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "explorer chat chat chat"
    "explorer chat chat chat"
    "piano piano piano piano";
}
#explorer {
  grid-area: explorer;
}
#chat {
  grid-area: chat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
#piano {
  grid-area: piano;
  width: 95vw;
  height: auto;
  overflow: auto;
  overflow-y: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  scrollbar-width: thin;
  scrollbar-color: #aaaaaa3d transparent;
}
/*#piano::-webkit-scrollbar {
  display: none;
}*/

.WorkSpace__PlaySong {
  background-color: rgb(49, 49, 49);
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
}
.WorkSpace__PlaySong-title {
  flex-grow: 1;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.WorkSpace__PlaySong button {
  font-size: 2rem;
  width: fit-content;
  background-color: rgba(255, 222, 173, 0);
}
.Container {
  padding: 1rem;
}

h1 {
  font-size: 3rem;
}

.Container-Song {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
}
.MySongs
{
  height: 60vh;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #aaaaaa3d  transparent;
}
.MySongs__item{
  padding-top: 0.5rem;
}
.MySongs__title{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.Container-Song
{
  padding: 5rem;
}